import { render, screen } from '@testing-library/react';
import { axe, toHaveNoViolations } from 'jest-axe';
import { expect, test, describe } from 'vitest';
import { ExamplePage } from '../ExamplePage';

expect.extend(toHaveNoViolations);

describe('ExamplePage', () => {
  test('renders page layout properly', () => {
    render(<ExamplePage />);
    expect(screen.getByRole('main')).toBeInTheDocument();
  });

  test('passes accessibility (a11y) audit', async () => {
    const { container } = render(<ExamplePage />);
    const results = await axe(container);
    expect(results).toHaveNoViolations();
  });
});
